.main-board .blue {
    fill: #2196F3;
}

.main-board .green {
    fill: #4CAF50;
}

.main-board .red {
    fill: #F44336;
}

.main-board .yellow {
    fill: #FFEB3B;
}

.main-board .orange {
    fill: #FF9800;
}